.table-view {

    table {
        border-collapse: collapse;
    }

    th {
        background-color: #a7c941;
        border: 2px solid #849d3a;
        padding: 5px;
        text-align: start;
        color: white;
    }

    td,
    th {
        border: 2px solid #a7c941;
        border: 2px solid #a7c941;
        padding: 12px;
    }

    .btn-sq-trash{
        border-radius: 4px;
        padding: 4px 8px;
        background: red;
    }

    .btn-sq-edit{
        border-radius: 4px;
        padding: 4px 8px;
        background: #958888;
        margin-right: 8px;
    }
}