form {
    width: 40%;
    .field-row{
        margin-bottom: 24px;
    }

    .field-label {
        width: 33.333333%;
    }

    .field-value {
        width: 66.666667%;

        .input-field {
            padding: 8px 16px;
            background-color: #edf2f7;
            width: 100%;
        }

        &.field-value-error{
            border: 1px solid red;
        }
    }
}